<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include '_navbar_czytelnik.html' %}
    <title>Historyczne wypozyczenia czytelnika {{czytelnik}}</title>
</head>
<body>
    <h1>Archiwalne wypożyczenia czytelnika {{wypozyczenia[0].uzytkownik.login}}</h1>

    {% for w in wypozyczenia %}
    <li>
        Autor: <b> {{w.ksiazka.autor}} </b> 
        Tytuł: {{w.ksiazka.tytul}}
        Data wypozyczenia: {{w.data_wypozyczenia}} 
        Data zwrotu: {{w.data_zwrotu}}
    </li>
{% endfor %}
</body>
</html>