<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu czytelnika</title>
    <a href="{{ url_for('login') }}">Wyloguj</a>
</head>
<body>
    <h1>Witaj {{czytelnik}}!</h1>
    <h3><a href="{{ url_for('lista_ksiazek', czytelnik=czytelnik) }}">Przegladaj biblioeke</a></h3>
    <h3><a href="{{ url_for('czytelnik_wypozyczenia', czytelnik=czytelnik) }}">Przegladaj wypożyczenia</a></h3>
    <h3><a href="{{ url_for('czytelnik_historia', czytelnik=czytelnik) }}">Przegladaj Historyczne wypożyczenia</a></h3>
    
</body>
</html>