<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dodaj ksiazke</title>
    {% include '_navbar_bibliotekarz.html' %}
</head>
<body>
    <h1>Dodaj ksiazke</h1>
    <h3>
        <form method="post">
            Autor: <input type="text" name="autor" required><br>
            Tytuł: <input type="text" name="tytul" required><br>
            <button type="submit">Dodaj</button> 
        </form>
    </h3>
</body>
</html>