<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>historia ksiazkit</title>
    {% include '_navbar_bibliotekarz.html' %}
</head>
<body>
    <h1>Historia wypozyczen ksiazki</h1>
    <h2>
        
        Tytuł: {{ tytul}}
        Autor: {{ autor}}
    </h2>
    {% for wypozyczenie in wypozyczenia %}
        <li>
            ID: {{wypozyczenie.id}}
            Data poczatkowa: {{wypozyczenie.data_wypozyczenia}}
            Data koncowa: {{wypozyczenie.data_zwrotu}}

            Status: 
            {% if wypozyczenie.status == "A" %}
                Zamowienie zostało anulowane
            {% elif wypozyczenie.status == "Z" %}
                Zarezerwowana
            {% elif wypozyczenie.status == "W" %}
                Wypozyczona
            {% else %}
                Zwrocona
            {% endif %}

            Czytelnik: {{wypozyczenie.uzytkownik.login}}
        </li>
    {% endfor %}
</body>
</html>