<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include '_navbar_czytelnik.html' %}
    <title>ksiazka</title>
</head>
<body>
    <h1> ksiazka: {{ksiazka.id}} </h1>
    <h3> tytuł: {{ksiazka.tytul}}</h3>
    <h3> autor: {{ksiazka.autor}} </h3>
    <h3> status: 
        {% if ksiazka.wypozyczenia[-1].status == "H" %}
            Dostępna
            <button>Zarezerwuj</button>
        {% elif ksiazka.wypozyczenia[-1].status == "W" %}
            Wypożyczona
        {% elif ksiazka.wypozyczenia[-1].status == "Z" %}
            Zarezerwowana
        {% else %}
            Status nieznany
        {% endif %}
    </h3>
</body>
</html>