<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel wypozyczenia</title>
</head>
<body>
    <form method="post">
        <h2>Obsluz czytelnika {{czytelnik}}</h2>
            <h3>
                    Wpisz login czytelnika: <input type="text" name="czytelnik" required><br>
                    <button type="submit" name="przycisk" value="czytelnik">Wyszukaj czytelnika</button>                
            </h3>
    </form>
</body>
</html>
